*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: fit-content;
    height: fit-content;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#navchild-home{
    position: absolute;
    top: 5%;
    right: 42%;
}
#navchild-skills{
    position: absolute;
    top: 5%;
    right: 34%;
}
#navchild-resources{
    position: absolute;
    top: 5%;
    right: 23.5%;
}
#navchild-projects{
    position: absolute;
    top: 5%;
    right: 14%;
}
#navchild-about{
    position: absolute;
    top: 5%;
    right: 6%;
}
a{
    color: black;
    text-decoration: none;
}
#s-c{
    position: absolute;
    width: calc(14vw);
    height: calc(14vw);
    background-color: #576F72;
    border-radius: calc(10vw);
    z-index: 4;
}
#m-c{
    z-index: 3;
    position: absolute;
    width: calc(23vw);
    height: calc(23vw);
    background-color:#7D9D9C;
    border-radius: calc(14vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
#l-c{
    z-index: 2;
    position: relative;
    width: calc(30vw);
    height: calc(30vw);
    background-color: #3F4E4F;
    border-radius: calc(18vw);
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(-9vw);
    top: calc(-9vw);
}
@media (max-width:1024px){
    .navbar{
        font-size: calc(2.5vw);
    }
    #navchild-home{
        position: absolute;
        right: 47.5%;
    }
    #navchild-skills{
        position: absolute;
        right: 38.5%;
    }
    #navchild-resources{
        position: absolute;
        right: 25%;
    }
}
.socialmedia{
    display: flex;
    flex-direction: column;
    border-spacing: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    width: fit-content;
}
.insta{
    width: 25px;
    height: 25px;
    margin-bottom: calc(6vw);
    margin-top: calc(5vw);
}
.linkedin{
    width: 25px;
    height: 25px;
    margin-bottom: calc(6vw);
}
.github{
    width: 25px;
    height: 25px;
    margin-bottom: calc(6vw);
}
.mail{
    width: 25px;
    height: 25px;
}
.insta:hover{
    opacity: 70%;
}
.linkedin:hover{
    opacity: 70%;
}
.github:hover{
    opacity: 70%;
}
.mail:hover{
    opacity: 70%;
}
@media (max-width: 1024px){
    .socialmedia{
        right: 2%;
    }
}
.skills{
    width: calc(63vw);
    height: calc(13vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #576F72;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hobbies{
    width: calc(10vw);
    height: calc(10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 20px;
}
.education{
    width: calc(10vw);
    height: calc(10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 20px;
}
.favourites{
    width: calc(10vw);
    height: calc(10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 20px;
}
.about{
    width: calc(10vw);
    height: calc(10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 20px;
}
.hobbies1{
    width: calc(13vw);
    height: calc(13vw);
    background-color: black;
    position: absolute;
    top: calc(4vw);
    left: calc(26.5vw);
    border-radius: 10%;
}
@media (max-width: 1024px){
    .skills{
        border-radius: 0%;
        font-size: 0.4rem;
        width: calc(15vw);
        height: calc(70vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #576F72;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hobbies{
        width: calc(10vw);
        height: calc(10vw);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .education{
        width: calc(10vw);
        height: calc(10vw);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .favourites{
        width: calc(10vw);
        height: calc(10vw);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .about{
        width: calc(10vw);
        height: calc(10vw);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-right: 0px;
    }
}