body{
    background-color:#A0BCC2;
}
.portfolio{
    color: #251B37;
    font-size: xx-small;
    font-family: 'Pacifico', cursive;
    padding-left: 15%;
    text-decoration: none;
    font-size: xx-large;
    display: inline;
    margin-top: 1%;
}
.portfolio:hover{
    font-size: 2.5rem;
    text-decoration: underline;
}
/* .port{
    width: 11%;
    height: 11%;
    float: left;
    margin-top: 4%;
} */
.ports{
    width: 30%;
    height: 30%;
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
    top: 0;
    z-index: 7;
}
.home{
    position: absolute;
    right: 45%;
    top: 35px;
}
.skills{
    position: absolute;
    right: 34% ;
    top: 35px;
}
.projects{
    position: absolute;
    right: 20.5% ;
    top: 35px;
}
.about{
    position: absolute;
    right: 9.3% ;
    top: 35px;
}
.resources{
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
    font-size: 1em;
}
.home:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.skills:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.projects:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.about:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
@keyframes func{
    0%{
        text-decoration: underline;
    }
    100%{
        text-decoration: underline;
    }
}
.socialmedia{
    display: flex;
    flex-direction: column;
    border-spacing: 20px;
    position: absolute;
    right: 50px;
    top: calc(30vh);
}
.insta{
    margin-bottom: calc(5vw);
    margin-top: calc(5vw);
}
.linkedin{
    margin-bottom: calc(5vw);
}
.github{
    margin-bottom: calc(5vw);
}
#design{
    width: fit-content;
    height: fit-content;
    position: relative;
}
#s-c{
    position: absolute;
    width: calc(14vw);
    height: calc(14vw);
    background-color: #576F72;
    border-radius: calc(10vw);
    z-index: 4;
}
#m-c{
    z-index: 3;
    position: absolute;
    width: calc(23vw);
    height: calc(23vw);
    background-color:#7D9D9C;
    border-radius: calc(14vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
#l-c{
    z-index: 2;
    position: relative;
    width: calc(30vw);
    height: calc(30vw);
    background-color: #3F4E4F;
    border-radius: calc(18vw);
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(-9vw);
    top: calc(-9vw);
}
.Iam{
    font-size: 5em;
    margin-left: calc(5vw);
    position: absolute;
    top: calc(15vw);
}
.sathish{
    font-size: 8em;
    color: #913175;
    margin-left: calc(5vw);
    position: absolute;
    top: calc(25vw);
    font-family: 'Pacifico', cursive;
}
.insta:hover{
    opacity: 70%;
    animation: func1 1s infinite;
}
.linkedin:hover{
    opacity: 70%;
    animation: func1 1s infinite;
}
.github:hover{
    opacity: 70%;
    animation: func1 1s infinite;
}
.mail:hover{
    opacity: 70%;
    animation: func1 1s infinite;
}