body{
    background-color:#A0BCC2;
}
.portfolio{
    color: #251B37;
    font-family: 'Kaushan Script', cursive;
    padding-left: 15%;
    text-decoration: none;
    font-size: xx-large;
    /* display: inline; */
    margin-top: 3%;
}
/* .port{
    width: 11%;
    height: 11%;
    float: left;
    margin-top: 4%;
} */
.ports{
    width: 30%;
    height: 30%;
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
    top: 0;
    z-index: 7;
}
.home{
    position: absolute;
    right: 45%;
    top: 35px;
}
.skills{
    position: absolute;
    right: 34% ;
    top: 35px;
}
.projects{
    position: absolute;
    right: 20.5% ;
    top: 35px;
}
.about{
    position: absolute;
    right: 9.3% ;
    top: 35px;
}
.resources{
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
    font-size: 1em;
}
.home:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.skills:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.projects:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
.about:hover{
    opacity: 80%;
    font-size: larger;
    animation: func 10s;
}
@keyframes func{
    0%{
        text-decoration: underline;
    }
    100%{
        text-decoration: underline;
    }
}
.socialmedia{
    display: flex;
    flex-direction: column;
    border-spacing: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    width: fit-content;

}
.insta{
    margin-bottom: calc(5vw);
    margin-top: calc(5vw);
}
.linkedin{
    margin-bottom: calc(5vw);
}
.github{
    margin-bottom: calc(5vw);
}
#design{
    width: fit-content;
    height: fit-content;
    position: relative;
}
#s-c{
    position: absolute;
    width: calc(14vw);
    height: calc(14vw);
    background-color: #576F72;
    border-radius: calc(10vw);
    z-index: 4;
}
#m-c{
    z-index: 3;
    position: absolute;
    width: calc(23vw);
    height: calc(23vw);
    background-color:#7D9D9C;
    border-radius: calc(14vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
#l-c{
    z-index: 2;
    position: relative;
    width: calc(30vw);
    height: calc(30vw);
    background-color: #3F4E4F;
    border-radius: calc(18vw);
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(-9vw);
    top: calc(-9vw);
}
.insta:hover{
    opacity: 70%;
}
.linkedin:hover{
    opacity: 70%;
}
.github:hover{
    opacity: 70%;
}
.mail:hover{
    opacity: 70%;
}
.name{
    font-size: 5rem;
    position: absolute;
    top: 30%;
    z-index: 2;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.iam{
    position: absolute;
    top: calc(1vh);
    font-family: 'Parisienne', cursive;
}
.svss{
    position: absolute;
    top: calc(15vh);
    left: calc(1vw);
}
.svs{
    font-size: 3rem;
    margin-bottom: -5%;
    font-family: 'Dancing Script', cursive;
}
.sathish{
    margin-left: 11%;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}
.footer{
    font-size: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
}
@media (max-width:1024px){
    .portfolio{
        font-size: 1.1rem;
    }
}