.body{
    background-color: #4cc4cf;
}
.port{
    width: 4%;
    height: 4%;
    float: left;
    margin-right: 10px;
}
.portfolio{
    color: blueviolet;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}
.home{
    position:absolute;
    top: 5%;
    right: 45%;
}
.skills{
    position: absolute;
    top: 5%;
    right: 39% ;
}
.certifications{
    position: absolute;
    top: 5%;
    right: 29.5% ;
}
.projects{
    position: absolute;
    top: 5%;
    right: 22.5% ;
}
.about{
    position: absolute;
    top: 5%;
    right: 16.5% ;
}